.container_pesquisa {
    /* background-color: purple; */

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 80%;
    min-width: 330px;
    /* max-width: 500px; */
    margin: 1em auto 1em auto;

    padding: .5em;
}

.filtrar-pesquisa {
    display: flex;
    align-items: center;

    width: 50%;
    min-width: 330px;
    max-width: 500px;

    position: relative;
}

/* ------------------- CAMPO PESQUISA ---------------------- */
.campo-pesquisa {
    box-sizing: border-box;

    flex: 1;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0 .5em;
    height: 3em;

    color: white;
    font-size: 16px;

    transition: .3s ease-in-out;
}

.campo-pesquisa:focus {
    outline: none;
    border-color: tomato;

}

/* ------------------- MOSTRAR MAIS ---------------------- */
.mostrar_mais_areaClick {
    display: block;
    position: absolute;

    width: 60px;
    height: 60px;
    left: 105%;
    top: 0;
    cursor: pointer;
}

.mostrar_mais_seta {
    display: block;
    position: absolute;
    left: 105%;
    top: 20%;


    border: 25px solid transparent;
    border-top: 35px solid white;

    transition: .3s ease-in-out;
}

.girarSeta {
    transform: translateY(-50%);


    border-top: 25px solid transparent;
    border-bottom: 35px solid white;
}

/* ------------------- LABEL TYPE ---------------------- */


.ativado {
    display: flex;
}

.desativado {
    display: none !important;
}

.filtrar-tipo>label {
    border: 3px solid white;
    width: 4em;
    text-align: center;
    user-select: none;
    margin: .5em;

    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.filtrar-tipo>label:hover {
    opacity: .9;
}

.filtrar-tipo>input {
    display: none;
}

.filtrar-tipo {

    margin-top: 1.5em;

    justify-content: center;


    width: 80%;
    max-width: 500px;
    flex-wrap: wrap;
}